/*
  	----------------------------------------------
  	IMPORT FROM BASE
  	----------------------------------------------
*/
@import "base/fonts";
@import "base/variabiles";
@import "base/mixins";
@import "base/mediaqueries";
/*
  	----------------------------------------------
  	GENERIC
  	----------------------------------------------
*/
body { font-family: $main-font; }
h2 { text-align: center; font-size: 50px; margin: 0 0 50px; text-transform: uppercase; }
// FONT SELECTION COLORS // 
::selection { @include selection-color; }
::-moz-selection { @include selection-color; }
::-o-selection { @include selection-color; }
::-ms-selection { @include selection-color; }
::-webkit-selection { @include selection-color; }
/*
  	----------------------------------------------
  	HOME
  	----------------------------------------------
*/
.home { padding: 60px 0; text-align: center; background-image: url("../images/home-background.png"); background-position: top left; background-repeat: repeat; background-color: #333;
	h1 { width: 80%; margin: 40px auto; padding: 75px 0; font-size: 75px; letter-spacing: 3px; color: rgba(255, 255, 255, 0.9); background-color: rgba(0, 0, 0, 0.5); border: 5px solid rgba(255, 255, 255, 0.9);; text-transform: uppercase; }
	h2 { width: 45%; margin: 0 auto 20px; padding: 20px 0; font-size: 22px; letter-spacing: 1px; color: #000; background-color: rgba(255, 255, 255, 0.9); text-transform: lowercase; }
}
//	NAVIGATION //
.navigation { width: 100%; margin-top: 20px; }
.nav-wrap { display: inline-block; padding: 0 20px; 
	&:hover .nav-item-front { @include hover-nav-item-front; opacity: 0; }
	&:hover .nav-item-back { @include hover-nav-item-back; opacity: 1; pointer-events: auto; } 
}
.nav-item { position: relative; width: 100px; height: 100px; border-radius: 50%; box-shadow: 0 0 0 5px rgba(255,255,255,0.4), inset 0 0 3px rgba(115,114, 23, 0.4); }
.nav-item > div { display: block; position: absolute; width: 100%; height: 100%; border-radius: 50%; background-position: center center; -webkit-backface-visibility: hidden; }
.nav-item-front { @include nav-item-front-transition; 
	i.fa { font-size: 55px; padding-top: 23px; color: rgba(255, 255, 255, 0.9); }
}
.nav-item-back { opacity: 0; background: rgba(0, 0, 0, 0.5); pointer-events: none; @include nav-item-back-effects; 
	h3 { font-size: 22px; margin-top: 38px; }
	a { color: #FFF; text-decoration: none; @include animate;
		&:hover { color: #b52624; }
	}
}
/*
  	----------------------------------------------
  	ABOUT
  	----------------------------------------------
*/
.about { padding: 60px 0; }
.about-content { width: 95%; margin: 0 auto;
	h3 { padding: 0 0 10px; font-size: 25px; text-align: left; border-bottom: 3px solid #000; margin: 0 0 25px; width: 50%; text-transform: lowercase; }
	p { letter-spacing: 1px; line-height: 25px; font-size: 16px; }
}
.bar_group { position: relative; z-index: 0; }
.bar_group__bar.thin { width: 0%; height: 10px; -webkit-border-radius: 2px; border-radius: 2px; -moz-border-radius: 2px; background: #607d8b; margin-bottom: 10px; -webkit-transition: width 1s; transition: width 1s; -moz-transition: width 1s; margin-bottom: 15px !important;
	&:before { display: block; content: ''; position: absolute; z-index: -1; width: 100%; height: 10px; -webkit-border-radius: 2px; border-radius: 2px; -moz-border-radius: 2px; background: #E4E4E4; }
}
.bar_label_max { display: none; }
.bar_label_min { display: none; }
.b_tooltip { position: relative; float: left; left: 100%; padding: 4px 10px 7px 10px; background-color: #000; -webkit-border-radius: 2px; border-radius: 2px; -moz-border-radius: 2px; line-height: 11px; @include b_tooltip-effects;
	span { color: #fff; font-size: 0.8em; }
}
.b_tooltip--tri { width: 0; height: 0; position: absolute; content: ''; bottom: -5px; left: 0; right: 0; margin: auto; display: block; border-style: solid; border-width: 5px 5px 0 5px; border-color: #000 transparent transparent transparent; }
.b_label { margin-bottom: .5em; font-size: 1em; }
.skills { padding: 15px 0 0;
	h3 { color: #FFF; }
}
#skills-list .item { margin: 0; 
	img { width: 50%; }  
}
/*
  	----------------------------------------------
  	WORKS
  	----------------------------------------------
*/
.works { padding: 60px 0 100px; background-color: #F5F5F5; }
.grid { max-width: 1300px; margin: 0 auto; list-style: none; text-align: center; 
	li { display: inline-block; width: 49%; margin: 0; padding: 0 20px; text-align: left; position: relative;  }
	figure { margin: 0; position: relative; 
		img { width: 100%; display: block; position: relative; }
	}
	figcaption { height: 100%; width: 99%; position: absolute; top: 0; left: 0; padding: 20px; background: #333; color: #607d8b; text-align: center;
		h3 { margin: 50% 0 20px; padding: 0; color: #fff; }
		a { padding: 10px 20px; font-size: 15px; color: #fff; text-transform: uppercase; background-color: rgba(0, 0, 0, 0.8); text-decoration: none; outline: none; @include animate; 
			&:hover { background-color: #b52624; color: #fff; }
		}
	}
}
.effect { padding: 0;
	figure { 
		img { z-index: 10; -webkit-transition: -webkit-transform 0.4s; -moz-transition: -moz-transform 0.4s; transition: transform 0.4s; 
		}
		&:hover img { -webkit-transform: translateY(-50px) scale(0.5); -moz-transform: translateY(-50px) scale(0.5); -ms-transform: translateY(-50px) scale(0.5); transform: translateY(-50px) scale(0.5); }
	}
}
/*
  	----------------------------------------------
  	CONTACT FORM
  	----------------------------------------------
*/
.contact { @include contact-background; padding: 60px 0 130px; }
.contactForm { text-align: center; margin: 0 auto; width: 98%;
	input[type='text'], 
	input[type="email"], 
	textarea { line-height: 22px; padding: 14px 17px 14px; outline: none; color: #fff; height: 50px; border: 0; background: rgba(0, 0, 0, 0.8); }
	textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; resize: none; height: 180px; }
} 
.submit_btn { padding: 13px 30px; border: 0; font-size: 16px; color: #fff; text-transform: uppercase; background-color: rgba(0, 0, 0, 0.8); text-decoration: none; outline: none; @include animate;
	&:hover { background-color: #b52624; color: #fff; }
}
#msgSuccess { font-size: 25px; text-align: center; color: green; }
#msgError { font-size: 25px; text-align: center; color: #a94442; }
/*
  	----------------------------------------------
  	FOOTER
  	----------------------------------------------
*/
.footer { background-image: url("../images/home-background.png"); background-position: top left; background-repeat: repeat; background-color: #333; }
.copyright { margin: 40px 0; text-align: center;
	p { color: #fff; letter-spacing: 1px;
		a { color: #fff; @include animate;
			&:hover { color: #b52624; text-decoration: none; }
		}
		i { color: #b52624; }
	} 
}
/*
  	----------------------------------------------
  	MEDIA QUERIES
  	----------------------------------------------
*/
@include large-desktops;
@include tablets-medium-desktops;
@include landscape-phones-portrait-tablets;
@include phones-and-smaller;
/*
  	----------------------------------------------
  	GO TOP BUTTON
  	----------------------------------------------
*/
.gototop { overflow: hidden; cursor: pointer; display: none; -webkit-animation: hide 350ms ease-out forwards 1; -moz-animation: hide 350ms ease-out forwards 1; animation: hide 350ms ease-out forwards 1; padding: 14px 20px; border: none; text-align: center; background-color:#333; color: #fff; position: fixed; bottom: 16px; right: 16px; -webkit-transition: background-color 100ms ease-in-out; -moz-transition: background-color 100ms ease-in-out; transition: background-color 100ms ease-in-out; z-index: 100; @include animate; 
	&:hover, { background-color: #b52624; }
	&:focus, 
	&:active { border: none; outline: 0; }
	&:active {
		&:after { padding: 0; margin: 0; opacity: 1; transition: 0s }
	}
	&:after { content: ""; background: #fff; display: block; position: absolute; padding-top: 95%;
    padding-left: 100%; margin-left: -20px !important; margin-top: -35px; opacity: 0; transition: all 0.8s; }

}
.isvisible { -webkit-animation: show 1s ease-out forwards 1; -moz-animation: show 1s ease-out forwards 1; animation: show 1s ease-out forwards 1; }

@include keyframes;