/*
  	----------------------------------------------
  	Media Queries
  	----------------------------------------------
*/
$large-desktop: 1200px;
$landscape-tablets-medium-desktops: 992px;
$portrait-tablets-small-desktops: 768px;
$between-tablet-and-phone: 636px; 
$portrait-phones-smaller: 480px;
$very-small: 400px;

@mixin large-desktops {
	@media (min-width: #{$large-desktop}) {
		.copyright { 
			p { font-size: 17px; } 
		}
	}
}
@mixin tablets-medium-desktops {
  	@media (min-width: #{$landscape-tablets-medium-desktops}) and (max-width: #{$large-desktop - 1px}) {
  		.home {
  			h1 { width: 95%; }
  			h2 { width: 55%; }
  		}
  		.copyright { 
			p { font-size: 16px; } 
		}
		.grid { width: 91%; padding: 0;
			figcaption {
				h3 { margin-top: 51%; font-size: 20px; }
				a { padding: 7px 25px; font-size: 14px; }
			}
		}
		.effect {
			figure { 
				&:hover img { -webkit-transform: translateY(-35px) scale(0.5); -moz-transform: translateY(-35px) scale(0.5); -ms-transform: translateY(-35px) scale(0.5); transform: translateY(-35px) scale(0.5); }
			}
		}

  	}
}
@mixin tablets-small-desktops {
	@media (min-width: #{$portrait-tablets-small-desktops}) and (max-width: #{$landscape-tablets-medium-desktops - 1px}) {
		.home {
  			h1 { width: 100%; font-size: 60px; }
  			h2 { width: 65%; font-size: 20px; }
  		}
		.grid {
			figcaption {
				h3 { margin: 56% 0 10px; font-size: 18px; }
				a { padding: 5px 22px; font-size: 12px; }
			}
		}
		.effect {
			figure { 
				&:hover img { -webkit-transform: translateY(-30px) scale(0.6); -moz-transform: translateY(-30px) scale(0.6); -ms-transform: translateY(-30px) scale(0.6); transform: translateY(-30px) scale(0.6); }
			}
		}
		.about-content { width: 100%; margin: 0 auto;
			h3 { width: 40%; margin: 0 auto 20px; text-align: center; }
			p { margin: 0 0 20px; }
		}
		.bar_group { margin: 0 auto; }
		p.b_label { margin: 0 0 5px; font-size: 14px; }
	}
}
@mixin landscape-phones-portrait-tablets {
	@media (max-width: #{$portrait-tablets-small-desktops - 1px}) {
		.home { padding: 100px 0;
  			h1 { width: 85%; font-size: 45px; padding: 50px 0; margin: 20px auto; }
  			h2 { width: 66%; font-size: 18px; padding: 15px 0; }
  		}
  		.navigation { margin-top: 10px; }
  		.nav-wrap { padding: 0 15px; }
  		.nav-item { width: 80px; height: 80px; }
  		.nav-item-front { 
			i.fa { font-size: 40px; padding-top: 20px; }
		}
		.nav-item-back {  
			h3 { font-size: 18px; margin-top: 32px; }
		}
		.contact_form {
			input[type='text'],input[type="email"],textarea { line-height: 0; padding: 10px 15px 10px; height: 100%; margin: 0 0 10px; }
			textarea { height: 150px; line-height: 2; }
		}
		.message { margin-bottom: 10px; }
		.grid {
			figcaption {
				h3 { margin: 50% 0 12px; font-size: 15px; }
				a { padding: 5px 15px; font-size: 12px; }
			}
		}
		.effect {
			figure { 
				&:hover img { -webkit-transform: translateY(-30px) scale(0.5); -moz-transform: translateY(-30px) scale(0.5); -ms-transform: translateY(-30px) scale(0.5); transform: translateY(-30px) scale(0.5); }
			}
		}
		.about-content { margin: 0 auto;
			h3 { width: 46%; margin: 0 auto 20px; text-align: center; }
			p { margin: 0 0 20px; }
		}
		.bar_group { margin: 0 auto; }
		p.b_label { margin: 0 0 5px; font-size: 14px; }
	}
}
@mixin between-tablet-and-phone {
	@media (min-width: #{$portrait-phones-smaller}) and (max-width: #{$between-tablet-and-phone - 1px}) {
		.home {
  			h1 { width: 90%; padding: 40px 0; font-size: 35px; }
  			h2 { width: 80%; font-size: 16px; }
  		}
  		.navigation { margin-top: 10px; }
  		.nav-wrap { padding: 0 15px; }
  		.nav-item { width: 80px; height: 80px; }
  		.nav-item-front { 
			i.fa { font-size: 40px; padding-top: 20px; }
		}
		.nav-item-back {  
			h3 { font-size: 18px; margin-top: 32px; }
		}
		.about { padding: 40px 0; 
			h2 { margin: 0 0 30px; font-size: 40px; }
		} 
		.works { padding: 40px 0; 
			h2 { margin: 0 0 30px; font-size: 40px; }
		}
		.contact { padding: 40px 0; 
			h2 { margin: 0 0 30px; font-size: 40px; }
		}
		.grid { padding: 0; 
			li { width: 49%; padding: 0 5px; }
			figcaption {
				h3 { margin: 47% 0 12px; font-size: 16px; }
				a { padding: 7px 17px; font-size: 12px; }
			}
		}
		.about-content {
			h3 { width: 64%; margin: 0 auto 20px; text-align: center; }
			p { margin: 0 0 20px; }
		}
		.bar_group { margin: 0 auto; }
		p.b_label { margin: 0 0 5px; font-size: 14px; }
	}
}

@mixin phones-and-smaller {
	@media (max-width: #{$portrait-phones-smaller}) {
		.home {
  			h1 { width: 100%; padding: 40px 0; font-size: 30px; }
  			h2 { width: 80%; font-size: 13px; }
  		}
		.nav-item { width: 70px; height: 70px; }
		.nav-item-front { 
			i.fa { font-size: 36px; padding-top: 16px; }
		}
		.nav-item-back {  
			h3 { font-size: 16px; margin-top: 27px; }
		}
		.about { padding: 40px 0; 
			h2 { margin: 0 0 30px; font-size: 40px; }
		} 
		.works { padding: 40px 0; 
			h2 { margin: 0 0 30px; font-size: 40px; }
		}
		.contact { padding: 40px 0; 
			h2 { margin: 0 0 30px; font-size: 40px; }
		}
		.copyright { 
			p { font-size: 12px; } 
		}
		.grid { padding: 0; 
			li { width: 100%; padding: 0 20px 20px; }
			figcaption {
				h3 { margin: 56% 0 12px; font-size: 19px; }
				a { padding: 7px 17px; font-size: 14px; }
			}
		}
		.effect {
			figure { 
				&:hover img { -webkit-transform: translateY(-30px) scale(0.6); -moz-transform: translateY(-30px) scale(0.6); -ms-transform: translateY(-30px) scale(0.6); transform: translateY(-30px) scale(0.6); }
			}
		}
		.about-content { 
			h3 { width: 80%; font-size: 18px; }
			p { font-size: 14px; }
		}
	}
}
@mixin very-small {
	@media (max-width: #{$very-small}) {
		.home {
  			h1 { width: 100%; padding: 40px 0; font-size: 25px; }
  			h2 { width: 90%; font-size: 12px; }
  		}
		.nav-item { width: 70px; height: 70px; }
		.nav-item-front { 
			i.fa { font-size: 36px; padding-top: 16px; }
		}
		.nav-item-back {  
			h3 { font-size: 16px; margin-top: 27px; }
		}
		.about-content { 
			h3 { width: 90%; }
			p { font-size: 14px; }
		}
		.contact { padding: 40px 0; }
		.grid { padding: 0;
			li { width: 100%; padding: 0 0 20px; }
			figcaption {
				h3 { margin: 52% 0 12px; font-size: 17px; }
				a { padding: 7px 17px; font-size: 12px; }
			}
		}
	}
}