/*
  	----------------------------------------------
  	MIXINS
  	----------------------------------------------
*/
@mixin animate ($attr: all, $time: 0.5s) {
	-webkit-transition: $attr $time;
    -moz-transition: $attr $time;
    -ms-transition: $attr $time;
    -o-transition: $attr $time;
    transition: $attr $time;
}
@mixin contact-background {
    background: {
        repeat: no-repeat;
		attachment: fixed;
		position: center;
		size: cover;
		-webkit-size: cover;
		-moz-size: cover;
		-o-size: cover;
        image: url("../images/contact.jpg");
    }
}
@mixin hover-nav-item-front {
	-webkit-transform: scale(0); 
	-moz-transform: scale(0); 
	-o-transform: scale(0); 
	-ms-transform: scale(0); 
	transform: scale(0);
}
@mixin hover-nav-item-back {
	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-o-transform: scale(1); 
	-ms-transform: scale(1); 
	transform: scale(1); 
}
@mixin nav-item-front-transition {
	-webkit-transition: all 0.6s ease-in-out; 
	-moz-transition: all 0.6s ease-in-out; 
	-o-transition: all 0.6s ease-in-out; 
	-ms-transition: all 0.6s ease-in-out; 
	transition: all 0.6s ease-in-out;
}
@mixin nav-item-back-effects {
	-webkit-transform: scale(1.5); 
	-moz-transform: scale(1.5); 
	-o-transform: scale(1.5); 
	-ms-transform: scale(1.5); 
	transform: scale(1.5); 
	-webkit-transition: all 0.4s ease-in-out 0.2s; 
	-moz-transition: all 0.4s ease-in-out 0.2s; 
	-o-transition: all 0.4s ease-in-out 0.2s; 
	-ms-transition: all 0.4s ease-in-out 0.2s; 
	transition: all 0.4s ease-in-out 0.2s;
}
@mixin selection-color {
	background-color: #1e1e1e; 
	color: #fff;
}
@mixin b_tooltip-effects {
	-webkit-transition: all 1s;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transform: translateX(-50%) translateY(-30px);
	-ms-transform: translateX(-50%) translateY(-30px);
	transform: translateX(-50%) translateY(-30px);
	-moz-transform: translateX(-50%) translateY(-30px);
	-o-transform: translateX(-50%) translateY(-30px);
}

@mixin keyframes {
	@-webkit-keyframes hide{
  0% {
    opacity: 1;
    -webkit-transform:translateY(0);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 0;
    -webkit-transform:translateY(100px);
  }
}
@-moz-keyframes hide{
  0% {
    opacity: 1;
    -webkit-transform:translateY(0);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 0;
    -webkit-transform:translateY(100px);
  }
}
@keyframes hide{
  0% {
    opacity: 1;
    transform:translateY(0);
  }
  25%{
    opacity: .5;
    transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    transform: rotate(3deg);
  }
  100%{
    opacity: 0;
    transform:translateY(100px);
  }
}
@-webkit-keyframes show{
  0% {
    -webkit-transform: rotate(0deg);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes show{
  0% {
    -webkit-transform: rotate(0deg);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}
@keyframes show{
  0% {
    transform: rotate(0deg);
  }
  25%{
    opacity: .5;
    transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    transform: rotate(3deg);
  }
  100%{
    opacity: 1;
    transform: rotate(0deg);
  }
}
}