/*
  	----------------------------------------------
  	IMPORT FROM BASE
  	----------------------------------------------
*/
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
/*
  	----------------------------------------------
  	MIXINS
  	----------------------------------------------
*/
/*
  	----------------------------------------------
  	Media Queries
  	----------------------------------------------
*/
/*
  	----------------------------------------------
  	GENERIC
  	----------------------------------------------
*/
body {
  font-family: "Rubik", "sans-serif"; }

h2 {
  text-align: center;
  font-size: 50px;
  margin: 0 0 50px;
  text-transform: uppercase; }

::selection {
  background-color: #1e1e1e;
  color: #fff; }

::-moz-selection {
  background-color: #1e1e1e;
  color: #fff; }

::-o-selection {
  background-color: #1e1e1e;
  color: #fff; }

::-ms-selection {
  background-color: #1e1e1e;
  color: #fff; }

::-webkit-selection {
  background-color: #1e1e1e;
  color: #fff; }

/*
  	----------------------------------------------
  	HOME
  	----------------------------------------------
*/
.home {
  padding: 60px 0;
  text-align: center;
  background-image: url("../images/home-background.png");
  background-position: top left;
  background-repeat: repeat;
  background-color: #333; }
  .home h1 {
    width: 80%;
    margin: 40px auto;
    padding: 75px 0;
    font-size: 75px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.9);
    text-transform: uppercase; }
  .home h2 {
    width: 45%;
    margin: 0 auto 20px;
    padding: 20px 0;
    font-size: 22px;
    letter-spacing: 1px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.9);
    text-transform: lowercase; }

.navigation {
  width: 100%;
  margin-top: 20px; }

.nav-wrap {
  display: inline-block;
  padding: 0 20px; }
  .nav-wrap:hover .nav-item-front {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  .nav-wrap:hover .nav-item-back {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto; }

.nav-item {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4), inset 0 0 3px rgba(115, 114, 23, 0.4); }

.nav-item > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-backface-visibility: hidden; }

.nav-item-front {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }
  .nav-item-front i.fa {
    font-size: 55px;
    padding-top: 23px;
    color: rgba(255, 255, 255, 0.9); }

.nav-item-back {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -moz-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  -ms-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s; }
  .nav-item-back h3 {
    font-size: 22px;
    margin-top: 38px; }
  .nav-item-back a {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .nav-item-back a:hover {
      color: #b52624; }

/*
  	----------------------------------------------
  	ABOUT
  	----------------------------------------------
*/
.about {
  padding: 60px 0; }

.about-content {
  width: 95%;
  margin: 0 auto; }
  .about-content h3 {
    padding: 0 0 10px;
    font-size: 25px;
    text-align: left;
    border-bottom: 3px solid #000;
    margin: 0 0 25px;
    width: 50%;
    text-transform: lowercase; }
  .about-content p {
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 16px; }

.bar_group {
  position: relative;
  z-index: 0; }

.bar_group__bar.thin {
  width: 0%;
  height: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  background: #607d8b;
  margin-bottom: 10px;
  -webkit-transition: width 1s;
  transition: width 1s;
  -moz-transition: width 1s;
  margin-bottom: 15px !important; }
  .bar_group__bar.thin:before {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #E4E4E4; }

.bar_label_max {
  display: none; }

.bar_label_min {
  display: none; }

.b_tooltip {
  position: relative;
  float: left;
  left: 100%;
  padding: 4px 10px 7px 10px;
  background-color: #000;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  line-height: 11px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transform: translateX(-50%) translateY(-30px);
  -ms-transform: translateX(-50%) translateY(-30px);
  transform: translateX(-50%) translateY(-30px);
  -moz-transform: translateX(-50%) translateY(-30px);
  -o-transform: translateX(-50%) translateY(-30px); }
  .b_tooltip span {
    color: #fff;
    font-size: 0.8em; }

.b_tooltip--tri {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent; }

.b_label {
  margin-bottom: .5em;
  font-size: 1em; }

.skills {
  padding: 15px 0 0; }
  .skills h3 {
    color: #FFF; }

#skills-list .item {
  margin: 0; }
  #skills-list .item img {
    width: 50%; }

/*
  	----------------------------------------------
  	WORKS
  	----------------------------------------------
*/
.works {
  padding: 60px 0 100px;
  background-color: #F5F5F5; }

.grid {
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center; }
  .grid li {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    position: relative; }
  .grid figure {
    margin: 0;
    position: relative; }
    .grid figure img {
      width: 100%;
      display: block;
      position: relative; }
  .grid figcaption {
    height: 100%;
    width: 99%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #333;
    color: #607d8b;
    text-align: center; }
    .grid figcaption h3 {
      margin: 50% 0 20px;
      padding: 0;
      color: #fff; }
    .grid figcaption a {
      padding: 10px 20px;
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.8);
      text-decoration: none;
      outline: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .grid figcaption a:hover {
        background-color: #b52624;
        color: #fff; }

.effect {
  padding: 0; }
  .effect figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
  .effect figure:hover img {
    -webkit-transform: translateY(-50px) scale(0.5);
    -moz-transform: translateY(-50px) scale(0.5);
    -ms-transform: translateY(-50px) scale(0.5);
    transform: translateY(-50px) scale(0.5); }

/*
  	----------------------------------------------
  	CONTACT FORM
  	----------------------------------------------
*/
.contact {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background--webkit-size: cover;
  background--moz-size: cover;
  background--o-size: cover;
  background-image: url("../images/contact.jpg");
  padding: 60px 0 130px; }

.contactForm {
  text-align: center;
  margin: 0 auto;
  width: 98%; }
  .contactForm input[type='text'],
  .contactForm input[type="email"],
  .contactForm textarea {
    line-height: 22px;
    padding: 14px 17px 14px;
    outline: none;
    color: #fff;
    height: 50px;
    border: 0;
    background: rgba(0, 0, 0, 0.8); }
  .contactForm textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    height: 180px; }

.submit_btn {
  padding: 13px 30px;
  border: 0;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .submit_btn:hover {
    background-color: #b52624;
    color: #fff; }

#msgSuccess {
  font-size: 25px;
  text-align: center;
  color: green; }

#msgError {
  font-size: 25px;
  text-align: center;
  color: #a94442; }

/*
  	----------------------------------------------
  	FOOTER
  	----------------------------------------------
*/
.footer {
  background-image: url("../images/home-background.png");
  background-position: top left;
  background-repeat: repeat;
  background-color: #333; }

.copyright {
  margin: 40px 0;
  text-align: center; }
  .copyright p {
    color: #fff;
    letter-spacing: 1px; }
    .copyright p a {
      color: #fff;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .copyright p a:hover {
        color: #b52624;
        text-decoration: none; }
    .copyright p i {
      color: #b52624; }

/*
  	----------------------------------------------
  	MEDIA QUERIES
  	----------------------------------------------
*/
@media (min-width: 1200px) {
  .copyright p {
    font-size: 17px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .home h1 {
    width: 95%; }
  .home h2 {
    width: 55%; }

  .copyright p {
    font-size: 16px; }

  .grid {
    width: 91%;
    padding: 0; }
    .grid figcaption h3 {
      margin-top: 51%;
      font-size: 20px; }
    .grid figcaption a {
      padding: 7px 25px;
      font-size: 14px; }

  .effect figure:hover img {
    -webkit-transform: translateY(-35px) scale(0.5);
    -moz-transform: translateY(-35px) scale(0.5);
    -ms-transform: translateY(-35px) scale(0.5);
    transform: translateY(-35px) scale(0.5); } }
@media (max-width: 767px) {
  .home {
    padding: 100px 0; }
    .home h1 {
      width: 85%;
      font-size: 45px;
      padding: 50px 0;
      margin: 20px auto; }
    .home h2 {
      width: 66%;
      font-size: 18px;
      padding: 15px 0; }

  .navigation {
    margin-top: 10px; }

  .nav-wrap {
    padding: 0 15px; }

  .nav-item {
    width: 80px;
    height: 80px; }

  .nav-item-front i.fa {
    font-size: 40px;
    padding-top: 20px; }

  .nav-item-back h3 {
    font-size: 18px;
    margin-top: 32px; }

  .contact_form input[type='text'], .contact_form input[type="email"], .contact_form textarea {
    line-height: 0;
    padding: 10px 15px 10px;
    height: 100%;
    margin: 0 0 10px; }
  .contact_form textarea {
    height: 150px;
    line-height: 2; }

  .message {
    margin-bottom: 10px; }

  .grid figcaption h3 {
    margin: 50% 0 12px;
    font-size: 15px; }
  .grid figcaption a {
    padding: 5px 15px;
    font-size: 12px; }

  .effect figure:hover img {
    -webkit-transform: translateY(-30px) scale(0.5);
    -moz-transform: translateY(-30px) scale(0.5);
    -ms-transform: translateY(-30px) scale(0.5);
    transform: translateY(-30px) scale(0.5); }

  .about-content {
    margin: 0 auto; }
    .about-content h3 {
      width: 46%;
      margin: 0 auto 20px;
      text-align: center; }
    .about-content p {
      margin: 0 0 20px; }

  .bar_group {
    margin: 0 auto; }

  p.b_label {
    margin: 0 0 5px;
    font-size: 14px; } }
@media (max-width: 480px) {
  .home h1 {
    width: 100%;
    padding: 40px 0;
    font-size: 30px; }
  .home h2 {
    width: 80%;
    font-size: 13px; }

  .nav-item {
    width: 70px;
    height: 70px; }

  .nav-item-front i.fa {
    font-size: 36px;
    padding-top: 16px; }

  .nav-item-back h3 {
    font-size: 16px;
    margin-top: 27px; }

  .about {
    padding: 40px 0; }
    .about h2 {
      margin: 0 0 30px;
      font-size: 40px; }

  .works {
    padding: 40px 0; }
    .works h2 {
      margin: 0 0 30px;
      font-size: 40px; }

  .contact {
    padding: 40px 0; }
    .contact h2 {
      margin: 0 0 30px;
      font-size: 40px; }

  .copyright p {
    font-size: 12px; }

  .grid {
    padding: 0; }
    .grid li {
      width: 100%;
      padding: 0 20px 20px; }
    .grid figcaption h3 {
      margin: 56% 0 12px;
      font-size: 19px; }
    .grid figcaption a {
      padding: 7px 17px;
      font-size: 14px; }

  .effect figure:hover img {
    -webkit-transform: translateY(-30px) scale(0.6);
    -moz-transform: translateY(-30px) scale(0.6);
    -ms-transform: translateY(-30px) scale(0.6);
    transform: translateY(-30px) scale(0.6); }

  .about-content h3 {
    width: 80%;
    font-size: 18px; }
  .about-content p {
    font-size: 14px; } }
/*
  	----------------------------------------------
  	GO TOP BUTTON
  	----------------------------------------------
*/
.gototop {
  overflow: hidden;
  cursor: pointer;
  display: none;
  -webkit-animation: hide 350ms ease-out forwards 1;
  -moz-animation: hide 350ms ease-out forwards 1;
  animation: hide 350ms ease-out forwards 1;
  padding: 14px 20px;
  border: none;
  text-align: center;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 16px;
  right: 16px;
  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .gototop:hover {
    background-color: #b52624; }
  .gototop:focus, .gototop:active {
    border: none;
    outline: 0; }
  .gototop:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s; }
  .gototop:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    padding-top: 95%;
    padding-left: 100%;
    margin-left: -20px !important;
    margin-top: -35px;
    opacity: 0;
    transition: all 0.8s; }

.isvisible {
  -webkit-animation: show 1s ease-out forwards 1;
  -moz-animation: show 1s ease-out forwards 1;
  animation: show 1s ease-out forwards 1; }

@-webkit-keyframes hide {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  25% {
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px); }
  75% {
    -webkit-transform: rotate(3deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px); } }
@-moz-keyframes hide {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }
  25% {
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px); }
  75% {
    -webkit-transform: rotate(3deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px); } }
@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0); }
  25% {
    opacity: .5;
    transform: rotate(-3deg) translateY(-40px); }
  75% {
    transform: rotate(3deg); }
  100% {
    opacity: 0;
    transform: translateY(100px); } }
@-webkit-keyframes show {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px); }
  75% {
    -webkit-transform: rotate(3deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes show {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px); }
  75% {
    -webkit-transform: rotate(3deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg); } }
@keyframes show {
  0% {
    transform: rotate(0deg); }
  25% {
    opacity: .5;
    transform: rotate(-3deg) translateY(-40px); }
  75% {
    transform: rotate(3deg); }
  100% {
    opacity: 1;
    transform: rotate(0deg); } }

/*# sourceMappingURL=main.css.map */
